# Environments
.env
env/


# Python Cache and compiled files
**/__pycache__/
*.py[cod]
*$py.class

# Django media files
media/

# Migration exclusions (custom project setup)
agent/migrations/
shop/migrations/

# Celery local Broker directories
celery_queue/
control/

# LangGraph / LangChain Studio
langgraph_studio/
.langgraph_api/

